@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*,*::after,*::after{
    @apply box-border font-roboto;
}

body{
    @apply m-0 p-0 ;
}

@theme{
    --font-roboto: "Roboto", sans-serif;
}

@layer components {
    p, li{
        @apply text-gray-700 text-base/6;
    }
}